
.user_input{
    width: 70%;
}

.headinginfo{
    color: white;
}

.middle{
    display: flex;
    justify-content: center;
}

.touch{
    text-align: center;
    
}
  
 .rows{
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-image: url('../img/nature1.jpeg');
     background-size: cover;
 }
 .button{
     float: right;
 }



