.footer{
    height: 10vh;
}

ul li{
    display: flex;
    list-style: none;
    font-size: 10%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

    
}
.social{
    height: 100%;
  top: 0;
  bottom: 0;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

ul{
 
    padding: 0;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;

}

.form{
    margin: 0 auto;
    width: 70%;
}